# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Secret environment variables
.env

# PyCharm settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Database files
*.db
*.sqlite3
*.db-wal
*.db-shm

# Git and metadata
.git
.gitignore

 # Docs folders
 docs/
 images/
 *.md